<!DOCTYPE html>
<html>
  <head>
    <title>FormulaeExample - Admin</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/602bbd367b.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin' %>
    <%= stylesheet_pack_tag 'admin' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
